<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{%=o.htmlWebpackPlugin.options.pkg.title %}</title>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
    </head>

    <body ng-app="test" ng-strict-di ng-controller="MainController as main">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>


        <script id="templates/tabs.html" type="text/ng-template">
            <ion-tabs class="tabs-icon-top tabs-positive">

                <ion-tab title="Home" icon="ion-home" ui-sref="tabs.home" ui-sref-opts="{inherit:false}">
                    <ion-nav-view name="home-tab"></ion-nav-view>
                </ion-tab>

                <ion-tab title="About" icon="ion-ios-football" ui-sref="tabs.about">
                    <ion-nav-view name="about-tab"></ion-nav-view>
                </ion-tab>

                <ion-tab title="Contact" icon="ion-bag" ui-sref="tabs.contact">
                    <ion-nav-view name="contact-tab"></ion-nav-view>
                </ion-tab>

                </ion-tab>

            </ion-tabs>
        </script>

        <script id="templates/home.html" type="text/ng-template">
            <ion-view view-title="Home">
                <ion-content class="">
                    <p>
                        <a class="button button-full button-large icon icon-right ion-chevron-right" native-transitions native-transitions-options="{{main.options}}" ui-sref="facts">Test transition</a>
                    </p>
                    <div class="list">
                        <div class="item item-divider">
                            Transition type
                        </div>
                        <select ng-model="main.options.type">
                            <option value="slide">Slide</option>
                            <option value="flip">Flip</option>
                            <option value="fade">Fade (iOS and Android only)</option>
                            <option value="curl">Curl (iOS only)</option>
                            <option value="drawer">Drawer (iOS and Android only)</option>
                        </select>
                    </div>
                    <div class="list">
                        <div class="item item-divider">
                            Transition direction
                        </div>
                        <select ng-model="main.options.direction">
                            <option value="left">Left</option>
                            <option value="right">Right</option>
                            <option value="up">Up</option>
                            <option value="down">Down</option>
                        </select>
                    </div>
                </ion-content>
            </ion-view>
        </script>

        <script id="templates/facts.html" type="text/ng-template">
            <ion-view view-title="Facts">
                <ion-nav-buttons side="left">
                    <button class="button button-clear" ui-sref="tabs.home" native-transitions native-transitions-options="{type: 'slide', direction:'right'}">
                        <i class="icon ion-arrow-left-c"></i>
                    </button>
                </ion-nav-buttons>
                <ion-content class="padding">

                    {{main.options}}
                    <p>Banging your head against a wall uses 150 calories an hour.</p>
                    <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
                    <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
                    <p>A cockroach will live nine days without it's head, before it starves to death.</p>
                    <p>Polar bears are left handed.</p>
                </ion-content>
            </ion-view>
        </script>

        <script id="templates/about.html" type="text/ng-template">
            <ion-view view-title="About">
                <ion-content class="padding">
                    <h3>Create hybrid mobile apps with the web technologies you love.</h3>
                    <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
                    <p>Built with Sass and optimized for AngularJS.</p>
                </ion-content>
            </ion-view>
        </script>

        <script id="templates/contact.html" type="text/ng-template">
            <ion-view title="Contact">
                <ion-content>
                    <div class="list">
                        <a class="item" href="https://twitter.com/julienrenaux">
                            @julienrenaux
                        </a>
                        <div class="item">
                            @IonicFramework
                        </div>
                        <div class="item">
                            @DriftyTeam
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </script>

        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>

</html>
